.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.2rem;
    gap: 1.2rem;
    font-weight: medium;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.buttons button {
    min-width: auto;
    margin: 0;
}